.logo-container {
  background-image: url('assets/ogpickles.png');
}

.app-bar-buttons-container, .nav {
  float: right;
}

.nav {
  margin-right: 25px;
}

.app-bar-buttons-container {
  margin-right: 10px;
  height: 50px;
}

.app-bar-buttons-container button {
  margin: 7px;
}

.title {
  float: left;
  line-height: 50px;
  margin-left: 10px;
}

.app-bar {
  height: 50px;
  width: 100%;
  background-color: purple;
  color: white;
}

.route-container {
  padding: 20px;
  background-color: whitesmoke;
  color: #333333;
}

.route {
  text-decoration: none;
  line-height: 50px;
  text-align: center;
  outline: none;
  outline: 0;
  color: white;
  margin-left: 20px;
}

