<!--
MOVE THIS TO SIDENAV  
<nav>
  <a routerLink="/" routerLinkActive="active">Home</a>
  <a routerLink="/about" routerLinkActive="active">About</a>
  <a routerLink="/pickle-jar" routerLinkActive="active">Pickle Jar</a>
</nav>  
-->

<md-toolbar color="primary">
  
  <span>1 Dollar Pickles</span>

  <span class="fill-remaining-space"></span>

  <span class="app-bar-buttons-container">
    <button md-raised-button 
            *ngIf="!(af.auth | async)?.uid"
            color="accent" 
            (click)="login()">Login</button>

    <button md-raised-button 
            *ngIf="(af.auth | async)?.uid"
            color="accent" 
            (click)="logout()">Logout</button>    
  </span>

</md-toolbar>


<router-outlet></router-outlet>
