<div class="app-bar">

  <div class="title">1 Dollar Pickles</div>

  <div class="app-bar-buttons-container">
    <button md-raised-button 
            *ngIf="!(af.auth | async)?.uid"
            color="accent" 
            (click)="login()">Login</button>

    <button md-raised-button 
            *ngIf="(af.auth | async)?.uid"
            color="accent" 
            (click)="logout()">Logout</button>    
  </div>

  <div class="nav">
    <a class="route"
       routerLink="/"
       routerLinkActive="active">HOME</a>
    
    <a class="route" 
       routerLink="/about" 
       routerLinkActive="active">ABOUT</a>
    
    <a class="route" 
       routerLink="/pickle-jar" 
       routerLinkActive="active">PICKLE JAR</a>
  </div>

</div>

<div class="route-container">
  <router-outlet></router-outlet>    
</div>

