/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/purple-green.css';


body {
  background-color: whitesmoke;
  color: #333333;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

html {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}